VITE_SUPABASE_URL=https://hbyiudfncymityzoatcy.supabase.co
VITE_SUPABASE_ANON_KEY=paste-the-anon-public-key-here
VITE_VAPID_PUBLIC_KEY=BKATzfBNpR10U7k4PpwGoq4yaJmDZtIVDNLxgoVdHVxv4kTy2wWM_kz04x2YbCwrFkdiwSMuFj8xzZkf5WUn964
